<!DOCTYPE HTML>
<!--
tinypng
-->
<html>

<head>
    <title>
        Code Book
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- <script src="https://kit.fontawesome.com/85999f6d09.js" crossorigin="anonymous"></script> -->

</head>

<body class="">
    <!-- Nav tabs -->
    <%- include('./partials/nav.ejs') %>

        <section>
            <h1 class="p-4 text-dark bg-white h1">
                <div class="row">
                    <div class="col-md-10 mx-md-auto">
                        Article Name
                    </div>
                </div>
            </h1>
            <div class="row">
                <div class="p-4 bg-white m-4 col-md-10 mx-md-auto">
                    <div class="p-3 mb-2">
                        <h2 class="text-dark h2">Article Name</h2>
                        <h2 class="text-muted">Article Title</h2>
                        <h2 class="h2 mt-2">Description</h2>

                        <p class="text-muted mb-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit earum facilis numquam
                            laboriosam
                            quae perferendis quis delectus, consequatur eius deserunt distinctio iste illum ea nobis
                            dolore
                            et
                            natus autem corporis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quo
                            dolores
                            quibusdam distinctio incidunt nostrum vel magnam quae suscipit ipsa. Sed adipisci cum non
                            earum.
                            Nulla aperiam eaque perferendis expedita.
                        </p>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit earum facilis numquam
                            laboriosam
                            quae perferendis quis delectus, consequatur eius deserunt distinctio iste illum ea nobis
                            dolore
                            et
                            natus autem corporis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quo
                            dolores
                            quibusdam distinctio incidunt nostrum vel magnam quae suscipit ipsa. Sed adipisci cum non
                            earum.
                            Nulla aperiam eaque perferendis expedita.
                        </p>
                        <div class="pre mt-3">
                            switch (n)
                            <br>
                            {
                            <br>
                            case 1: // code to be executed if n = 1;
                            <br>
                            break;
                            <br>
                            case 2: // code to be executed if n = 2;
                            <br>
                            break;
                            <br>
                            default: // code to be executed if n doesn't match any cases
                            <br>
                            }
                            <br>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Scripts -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script> -->

        <script src="assets/js/bootstrap.min.js"></script>

        <script src="assets/js/main.js"></script>

        <script>


        </script>
</body>

</html>