<!DOCTYPE HTML>
<!--
tinypng
-->
<html>
	<head>
		<title>
			Code Book
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://kit.fontawesome.com/85999f6d09.js" crossorigin="anonymous"></script>

	</head>
	<body class="">
		<!-- Nav tabs -->
		<nav id='navbar' class="navbar navbar-expand-sm navbar-dark bg-dark navbar-light">
			<div class="container ">
			  <a href="/" class="navbar-brand d-inline-block justify-content-center">
					Code Book
			  </a>
			  <button class="navbar-toggler " data-toggle="collapse" data-target="#navv">
				<span class="navbar-toggler-icon "></span>
			  </button>
			  <div id="navv" class="collapse navbar-collapse justify-content-between">
				<ul class="navbar-nav ">
				  <li class="nav-item hvr-underline-from-left">
					<a href="/" class="nav-link">Home</a>
				  </li>
				  <li class="nav-item hvr-underline-from-left">
					<a href="problemset" class="nav-link">Problem Set</a>
				  </li>
				  <li class="nav-item hvr-underline-from-left">
					<a href="contests" class="nav-link">Contests</a>
				  </li>
				  <li class="nav-item hvr-underline-from-left">
					<a href="articles" class="nav-link">Articles</a>
				  </li>
				  <li class="nav-item hvr-underline-from-left">
					<a href="contact" class="nav-link">Contact</a>
				  </li>
				</ul>
				
				<ul class="navbar-nav ">
                    <!-- if he guest show this 
					<li class="nav-item">
						<a href="login" class="nav-link">Log In</a>
					</li>
					<span class="slash">/</span>
					<li class="nav-item">
						<a href="signup" class="nav-link">Sign Up</a>
                    </li>
                    -->
					<li class="nav-item">
						<a href="profile" class="nav-link">Gaser Ashraf</a>
					</li>
				</ul>
				
			  </div>
			</div>
		  </nav>
		<section>
            <div class="container mt-4">
                <div class="row bg-white border rounded p-5">

                    <div class="col-8">
                        <h2 class="display-4">Gaser Ashraf</h2>
                        <h2 class="text-muted">Student / Developer</h2>
                        <h2> <i class="far fa-star mr-2"></i>Rating : 1500</h2>
                        <h2><i class="fas fa-check mr-2"></i> Number of problems solved: 500</h2>
                        <h2><i class="fas fa-check mr-2"></i> Number of problems made: 50</h2>
                        <h2><i class="fas fa-check mr-2"></i> Number of articles write: 20</h2>
                        <h2><i class="fas fa-star mr-2"></i>Friend of: 34 users</h2>
                        <a href="#">View My Friends</a>
                        <h2><i class="far fa-envelope mr-2"></i>elkinggaser@gmail.com</h2>

                        <!--some function if he has a developer token-->
                        <div class="mt-3">
                            <button class="btn btn-dark">Make Contest</button>
                            <button class="btn btn-dark">Make Group</button>
                            <button class="btn btn-dark">Write Article</button>
                            <button class="btn btn-dark">Write Documentation</button>
                            <button class="btn btn-dark">Make Problem</button>
                        </div>
                    </div>
                    <div class="col-4">
                       
                        <div class=" border rounded p-1">
                            <img src="images/student.jpg" class="w-100" alt="">
                        </div>
                       
                    </div>
                </div>
            </div>
		</section>

		<!-- Scripts -->
		
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script> -->

			<script src="assets/js/bootstrap.min.js"></script>
			
			<script src="assets/js/main.js"></script>
		
			<script>
		
				// $('body').scrollspy({target:'#nav'})
	
				// // Smooth Scrolling
				// $("nav a").on('click', function (event) {
				// if (this.hash !== "") {
				// 	event.preventDefault();
	
				// 	const hash = this.hash;
	
				// 	$('html, body').animate({
				// 	scrollTop: $(hash).offset().top
				// 	}, 800, function () {
	
				// 	//window.location.hash = hash;
				// 	});
				// }
				// });
			</script>
	</body>
</html>
